[user]
    user = jakedilliott
    name = Jake Dilliott
    email = jdilliott@protonmail.com
[init]
    DefaultBranch = main
[credential]
    credentialStore = secretservice
    helper = 
    helper = /usr/bin/git-credential-manager
[core]
    editor = nvim
[pager]
    branch = false
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[credential "https://dev.azure.com"]
    useHttpPath = true
